.sub-about-area {
    height: 320px;
    background-color: #eaeaea;
    border-bottom: 3px solid #fc973e;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    transition: ease-in-out 0.5s;
}

.sub-about-area h3 {
    color: #fc973e;
    text-align: center;
}

.sub-about-area h6 {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    transition: ease-in-out 0.5s;
}

.sub-about-area p {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    color: #383838;
    font-weight: 400;
    transition: ease-in-out 0.5s;
}

.sub-about-area:hover {
    background-color: #000 !important;
}

.sub-about-area:hover h6,
.sub-about-area:hover p {
    color: #b8b8b8 !important;
}